<!-- templates/surveys/includes/advertisement_modal.html -->
<div class="modal fade" id="advertisementModal" tabindex="-1" aria-labelledby="advertisementModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="advertisementModalLabel">Advertisement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <!-- Your ad content here -->
                {% comment %} <img src="https://via.placeholder.com/400x300" class="img-fluid mb-3" alt="Advertisement"> {% endcomment %}
                {% comment %} <h4>Special Offer!</h4> {% endcomment %}
                <div style="width:100%; min-width:300px; text-align:center;">
                    
                    <!-- Survey Ad -->
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-6294340250765146"
                        data-ad-slot="4579442905"
                        data-ad-format="auto"
                        data-full-width-responsive="true"></ins>
                    
                    <script>
                        setTimeout(function () {
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        }, 500);
                        </script>
                </div>
                <a href="#" class="btn btn-primary">Learn More</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continue Survey</button>
            </div>
        </div>
    </div>
</div>