{% extends 'base.html' %}
{% load static %}

{% block title %}FAQ - Sudraw{% endblock %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<section class="inner_banner">
    <img src="{% static 'images/survey_img6.jpeg' %}" alt="FAQ Banner" class="img-fluid" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner_banner_content">
                    <h1>FAQ</h1>
                    <div class="breadcrumb_box">
                        <ul>
                            <li><a href="{% url 'surveys:home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>FAQ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="accordion" id="faq_accordionExample">

                    <!-- 1 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h1">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq1_c1">
                    How are winners selected for the lucky draw”
                    </button>
                    </h2>
                    <div id="faq1_c1" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    <p>You will be automatically qualify for the draws after completing any 5 Surveys.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 2 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h2">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c2">
                    How can I tell if a survey or prize draw site is legitimate?
                    </button>
                    </h2>
                    <div id="faq1_c2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>We have clear Terms and Conditions (T&Cs), a visible Privacy Policy, and transparent contact details.</p>
                    <p>We will never ask for financial information like bank details or your personal passwords to enter a draw.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 3 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h3">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c3">
                    Why am I being disqualified from surveys after I start?
                    </button>
                    </h2>
                    <div id="faq1_c3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Speeding through questions or providing inconsistent answers can also trigger automated quality checks that end the survey early.</p>
                    <p>You can also reach out to us on the contact page of you encounter sudden stops or if the survey ends abruptly.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 4 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h4">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c4">
                    How are prize draw winners actually chosen?
                    </button>
                    </h2>
                    <div id="faq1_c4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Prize winners are chosen from the participants that have guessed right the winning number on the draws.</p>
                    <p>Winners from the last 30 days are delayed on the homepage for transparency.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 5 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h5">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c5">
                    Is it legal to require a purchase to enter a prize draw?
                    </button>
                    </h2>
                    <div id="faq1_c5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Survey participation is absolutely free</p>
                    </div>
                    </div>
                    </div>

                    <!-- 6 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h6">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c6">
                    How is my personal data protected?
                    </button>
                    </h2>
                    <div id="faq1_c6" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>We comply with data protection laws relevant to your country of residence.</p>
                    <p>We endeavour to collect minimum possible data from participants, we do not engage in data brokerage or sale of data. The data collected is just to serve you better regarding the survey participation.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 7 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h7">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c7">
                    What should I do if a site asks for a "processing fee" to claim a prize?
                    </button>
                    </h2>
                    <div id="faq1_c7" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>We will not under any circumstances ask you to pay any amount or request any favour or support  monetarily-wise.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 8 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h8">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c8">
                    How much can I realistically earn from surveys?
                    </button>
                    </h2>
                    <div id="faq1_c8" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>It is based on hardwork and luck, you can literally win money for every 2 surveys completed.</p>
                    <p>Payout and withdrawals at £5  or $5, or N10k deoending on your area.</p>
                    <p>What is the "Skills Test" in</p>
                    </div>
                    </div>
                    </div>

                    <!-- 9 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h9">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c9">
                    Can I enter prize draws for free?
                    </button>
                    </h2>
                    <div id="faq1_c9" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Yes, this is absolutely and completely free without any sort of financial requests from the users.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 10 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq1_h10">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq1_c10">
                    How do sites prevent "survey bot" fraud?
                    </button>
                    </h2>
                    <div id="faq1_c10" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>We have monitoring mechanisms in place that detects cheating or bots, your data may be rejected and your account flagged if we notice any wrongdoing or abberations.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 11 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h11">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq2_c11">
                    What is Sudraw and how does it work?
                    </button>
                    </h2>
                    <div id="faq2_c11" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    <p>Sudraw is a platform where users complete short surveys  and polls in exchange for entries into prize draws.</p>
                    <p>By sharing your feedback, you help companies improve their products and services while gaining a chance to win various rewards.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 12 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h12">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c12">
                    Is it free to use Sudraw?
                    </button>
                    </h2>
                    <div id="faq2_c12" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Yes, joining the platform and entering the draws is free of charge.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 13 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h13">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c13">
                    How do I enter a prize draw?
                    </button>
                    </h2>
                    <div id="faq2_c13" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>You typically enter a draw by successfully completing 2 available surveys .</p>
                    </div>
                    </div>
                    </div>

                    <!-- 14 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h14">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c14">
                    What kind of prizes can I win?
                    </button>
                    </h2>
                    <div id="faq2_c14" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Cash prizes are available for withdrawal at your direction when it js over £5, $5 or N10k depending on your country.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 15 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h15">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c15">
                    How are the winners selected?
                    </button>
                    </h2>
                    <div id="faq2_c15" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Winners are chosen through a verifiably random process, often using a random number generator.</p>
                    <p>To maintain transparency, last 30 days winners are displayed on the website.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 16 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h16">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c16">
                    How will I know if I have won?
                    </button>
                    </h2>
                    <div id="faq2_c16" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>If you are a winner, you will know through matching the winning secret number from our draws mechanism.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 17 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h17">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c17">
                    Is my data safe with Sudraw?
                    </button>
                    </h2>
                    <div id="faq2_c17" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>We collect the minimum data possible just to serve you for the surveys, polls and draws.</p>
                    <p>We are not a data brokerage company and as such we do not engage in any  sales of users' personal information.</p>
                    <p>We also follow data protection measures lay out by the government or their agency in your country.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 18 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h18">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c18">
                    Who is eligible to participate in Sudraw's draws?
                    </button>
                    </h2>
                    <div id="faq2_c18" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Typically, you must be a resident of the country where the survey is targeted and be aged 18 or over.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 19 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h19">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c19">
                    Can I enter the same prize draw multiple times?
                    </button>
                    </h2>
                    <div id="faq2_c19" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Yes, after submitting 2 very short surveys.</p>
                    <p>Attempting to use automated entry software or multiple email addresses to "game" the system is usually against the terms and can lead to your entries being voided or your account suspended.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 20 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq2_h20">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq2_c20">
                    What happens if I don't complete the entire survey?
                    </button>
                    </h2>
                    <div id="faq2_c20" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Only fully completed surveys that reach the final "Thank You" or "Submit" page are typically eligible for the prize draw.</p>
                    <p>If you experience technical issues, most platforms cannot manually reinstate your entry once the session is lost, so it’s best to use a stable internet connection.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 21 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h21">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq3_c21">
                    How long do I have to claim my prize?
                    </button>
                    </h2>
                    <div id="faq3_c21" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    <p>If you win, your wallet will continue to grow with winning fees.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 22 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h22">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c22">
                    Are the prizes taxable?
                    </button>
                    </h2>
                    <div id="faq3_c22" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>prizes from free-to-enter draws and competitions are generally exempt from Income Tax and Capital Gains Tax. It is advisable to check with the revenue or related government department.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 23 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h23">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c23">
                    How does Sudraw ensure the draws are fair?
                    </button>
                    </h2>
                    <div id="faq3_c23" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Our draws are legitimate and conducted using a verifiable random process, such as a random number generator.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 24 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h24">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c24">
                    What should I do if a survey freezes halfway through?
                    </button>
                    </h2>
                    <div id="faq3_c24" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>First, try refreshing the page;  our survey platforms save your progress automatically.</p>
                    <p>If that fails, clear your browser cache/cookies or try opening the link in an Incognito/Private window. Note that if you close the window entirely, you may be "screened out" for that specific session.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 25 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h25">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c25">
                    Can I change my registered email address?
                    </button>
                    </h2>
                    <div id="faq3_c25" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>No,Your email is your unique identifier for prize notifications.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 26 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h26">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c26">
                    How are winners announced to the public?
                    </button>
                    </h2>
                    <div id="faq3_c26" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>To comply with advertising codes, promoters must either publish the surname and county of major prize winners or make this information available to anyone who asks. This proves the prize was actually awarded.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 27 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h27">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c27">
                    Why was my entry disqualified?
                    </button>
                    </h2>
                    <div id="faq3_c27" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Common reasons include "speeding" (finishing rather too soon) providing gibberish text in open-ended questions, or failing "attention check" questions (e.g., "Please select 'Square' from the list").</p>
                    </div>
                    </div>
                    </div>

                    <!-- 28 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h28">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c28">
                    How often are new surveys and polls added?
                    </button>
                    </h2>
                    <div id="faq3_c28" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Availability depends on market research demand. It’s best to check the site or your email, as high-value surveys and polls often have a maximum response cap and close once that limit is reached.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 29 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h29">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c29">
                    Can I participate if I am travelling abroad?
                    </button>
                    </h2>
                    <div id="faq3_c29" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Most surveys are geo-fenced. If you try to complete a UK-specific survey while on holiday in another country, the system may flag your IP address and block the entry to ensure data regional accuracy.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 30 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq3_h30">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq3_c30">
                    How does Sudraw handle "duplicate entries"?
                    </button>
                    </h2>
                    <div id="faq3_c30" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>The system uses browser cookies and IP tracking to identify if a single user is attempting to enter a draw multiple times from the same device.</p>
                    <p>Your name must also match the bank details or PayPal account for withdrawals.</p>
                    </div>
                    </div>
                    </div>



                    <!-- 31 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h31">
                    <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#faq4_c31">
                    Can I use a VPN while taking surveys on Sudraw?
                    </button>
                    </h2>
                    <div id="faq4_c31" class="accordion-collapse collapse show">
                    <div class="accordion-body">
                    <p>It is highly recommended to turn off your VPN.</p>
                    <p>Our platform flags VPN IP addresses as "high risk" for fraud or location spoofing, which could lead to your entry being disqualified or your account being blacklisted.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 32 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h32">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c32">
                    How long does it take to receive a prize?
                    </button>
                    </h2>
                    <div id="faq4_c32" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Your request for withdrawal requests will be concluded  within 72 hours via email.</p>
                    <p>During this time, we crosscheck all your entries for perfections. We also confirm your account to detect double registration and other related cheats.</p>
                    <p>You will usually be notified of this change before the prize is dispatched.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 33 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h33">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c33">
                    How do I unsubscribe from Sudraw notifications?
                    </button>
                    </h2>
                    <div id="faq4_c33" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>You can typically opt-out via the "Unsubscribe" link at the bottom of any invitation email or by adjusting your "Notification Preferences" in your account dashboard.</p>
                    <p>Note that unsubscribing might mean you miss out on limited-time high-value draws.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 34 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h34">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c34">
                    Is my feedback anonymous to the end client?
                    </button>
                    </h2>
                    <div id="faq4_c34" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Yes. While Sudraw knows who you are to award prizes, the data exported to brands is usually aggregated and anonymised. They see your opinions, but not your full name or contact details unless you specifically opt-in for a follow-up interview.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 35 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h35">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c35">
                    How long is my survey data stored?
                    </button>
                    </h2>
                    <div id="faq4_c35" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Data is typically kept for as long as it is needed for the specific research project.</p>
                    <p>Under GDPR, you have the "Right to Erasure," meaning you can request that Sudraw deletes your personal profile and historical data at any time.</p>
                    <p>You can self delete yourr account from your profile.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 36 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h36">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c36">
                    Can I use an "auto-fill" browser extension for surveys?
                    </button>
                    </h2>
                    <div id="faq4_c36" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>No. Using auto-fill for open-ended questions will trigger bot-detection algorithms.</p>
                    <p>Our Platforms require  "organic" typing speeds to ensure a human is actually reading and considering the questions.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 37 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h37">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c37">
                    7Can I participate on multiple devices at once?
                    </button>
                    </h2>
                    <div id="faq4_c37" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>It’s best to stick to one device per survey.</p>
                    <p>Logging into the same account on a phone and a laptop simultaneously can cause "session conflicts," which might result in your survey progress being lost or your entry being flagged as suspicious.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 38 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h38">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c38">
                    Can I participate if I am using a public Wi-Fi network?
                    </button>
                    </h2>
                    <div id="faq4_c38" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>It is generally not recommended. Public Wi-Fi (like in cafes or airports) often shares a single IP address with many users. If someone else on that network has already completed a Sudraw survey, the system might flag you as a duplicate entry and block your participation.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 39 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h39">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c39">
                    What happens if a prize draw is cancelled?
                    </button>
                    </h2>
                    <div id="faq4_c39" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>In rare cases (such as a technical glitch or a provider going bust), a promoter may cancel a draw.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 40 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h40">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c40">
                    Can I see a list of previous winners?
                    </button>
                    </h2>
                    <div id="faq4_c40" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Yes. At Sudraw last 30 days  "Winners" are displayed on our website. This is a legal requirement to prove the draws are not "phantom" promotions.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 41 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h41">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c41">
                    What if I disagree with a survey's "Screen-Out" decision?
                    </button>
                    </h2>
                    <div id="faq4_c41" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Screen-outs are final and automated. If you feel you were wrongly disqualified after spending a long time on a survey, you can contact support with the Survey ID. While they rarely overturn a disqualification, they may offer a small amount of "goodwill" points or entries.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 42 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h42">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c42">
                    How do I delete my Sudraw account permanently?
                    </button>
                    </h2>
                    <div id="faq4_c42" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Look for a "Delete my Account" or "Delete Profile" option in your prpfile settings.</p>
                    <p>Once deleted, your entry history and any unclaimed prizes are usually forfeited immediately, so ensure you’ve cleared your balance or claimed your rewards first.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 43 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h43">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c43">
                    How does my feedback actually "shape outcomes"?
                    </button>
                    </h2>
                    <div id="faq4_c43" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Brands use the data from Sudraw to decide everything from new product features to which logo looks best.</p>
                    <p>By participating, you aren't just entering a draw; you are part of a data-driven feedback loop that directly influences what appears on shop shelves.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 44 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h44">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c44">
                    Can I choose how I receive my prize?
                    </button>
                    </h2>
                    <div id="faq4_c44" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>Usually, no. Prizes are pre-set for each specific campaign.</p>
                    <p>However, for cash-based rewards, platforms often use services like PayPal or bank transfers, while gift cards are typically sent as digital codes to your registered email.</p>
                    <p>Your first withdrawal is strictly by cash transfer to avert double registration.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 45 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h45">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c45">
                    What are "Flash Draws"?
                    </button>
                    </h2>
                    <div id="faq4_c45" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>These are limited-time prize draws that may only be open for a few hours.</p>
                    <p>They often have fewer entrants, giving you significantly better odds of winning compared to monthly grand prizes.</p>
                    </div>
                    </div>
                    </div>

                    <!-- 46 -->
                    <div class="accordion-item">
                    <h2 class="accordion-header" id="faq4_h46">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq4_c46">
                    What if I win but don't want the prize?
                    </button>
                    </h2>
                    <div id="faq4_c46" class="accordion-collapse collapse">
                    <div class="accordion-body">
                    <p>You are under no obligation to accept a prize.</p>
                    </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}