{% extends 'base.html' %}
{% load static %}

{% block title %}Features - Sudraw{% endblock %}

{% block extra_css %}
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<section class="inner_banner">
    <img src="{% static 'images/survey_img6.jpeg' %}" alt="Features Banner" class="img-fluid" />
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner_banner_content">
                    <h1>Features</h1>
                    <div class="breadcrumb_box">
                        <ul>
                            <li><a href="{% url 'surveys:home' %}">Home</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>Features</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="serv_box">
                    <div class="serv_img">
                        <img src="{% static 'images/survey_img1.jpeg' %}" alt="">
                    </div>
                    <div class="serv_cont">
                        <div class="serv_icon"><i class="fa-solid fa-user"></i></div>
                        <h3>Offshore Projects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                        <a href="{% url 'surveys:survey_list' %}" tabindex="0">Start the Survey</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
